# ──────────────────────────────────────────────────────────────────
#  requirements.txt  –  Iqlim O'zgarishi Tahlili App
# ──────────────────────────────────────────────────────────────────
customtkinter>=5.2.2
matplotlib>=3.8.0
pandas>=2.1.0
numpy>=1.26.0
pyinstaller>=6.3.0
